* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* background-color: rgb(239, 239, 239); */
}
body::-webkit-scrollbar {
  display: none;
}
body {
  background-color: rgb(239, 239, 239);
}

.hero {
  width: 100vw;
  height: 105vh;
  position: relative;
  align-items: center;
  justify-content: center;
}

.banner {
  width: 100vw;
  height: 105vh;
}
nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav img {
  width: 80px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 100px;
}

nav ul li a {
  text-decoration: none;
  color: whitesmoke;
}

.social {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100px;
  left: 0;
  padding: 20px 5%;
  color: beige;
}
.break_word {
  writing-mode: vertical-lr;
}

.somthing_positions {
  position: absolute;
  top: 100px;
  right: 0;
  color: beige;
}

.somthings {
  /* display: flex; */
  /* text-align: center; */
  max-width: 550px;
  margin: 100px;
  position: relative;
}
.somthings:before {
  background-color: beige;
  display: block;
  width: 120px;
  height: 2px;
  content: "";
  position: absolute;
  right: 320px;
  top: 50%;
  /* z-index: -1; */
}

.contact_style {
  position: absolute;
  top: 400px;
  right: 0;
  color: beige;
}

h2 {
  top: 250px;
  position: absolute;
  right: 100px;
  color: beige;
}
.contact {
  background-color: red;
  border-radius: 15px;
  padding: 3px;
  text-decoration: none;
  color: beige;
  position: absolute;
  right: 5px;
  width: 100px;
}

.hero_buttom {
  display: flex;
  position: absolute;
  top: 63vh;
  width: 100%;
  padding: 10px 5%;
  color: beige;

  /* align-i; */
  justify-content: space-between;
}

.buttom_left {
  width: 30%;
}
.buttom_right {
  width: 70%;
}

.buttons {
  margin-left: 4px;
  border: 2px solid white;
  border-radius: 15px;
  padding: 4px;
}

section {
  width: 100%;
  height: 350px;
  background-color: rgb(239, 239, 239);
  /* border: 2px solid red; */
}
.section_top {
  display: flex;
  width: 100%;
  /* border: 2px solid red; */
  padding: 60px 10% 0 10%;
  align-items: center;
  justify-content: space-between;
}

.section {
  height: 400px;
  background-image: url("../src/assets/2.png");
  background-position: center;
  background-color: rgb(239, 239, 239);
}

.image_ {
  display: flex;
  flex-direction: column;
}
.image {
  height: 220px;
  width: 220px;
  border-radius: 8px;
  display: inline-block;
}
.img_qto {
  text-align: center;
}
h5 {
  text-align: center;
  margin-top: 15px;
}

.history {
  width: 200px;
  text-align: center;
}

.number {
  font-size: 60px;
  font-weight: bold;
  color: rgb(239, 117, 73);
  /* font */
}
.section_one {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  margin-left: 50px;
  background-color: rgb(239, 239, 239);
}
.left_div {
  display: flex;
  width: 49%;
  /* margin-left: 5px; */
  align-items: center;
  justify-content: space-between;
}
.right_div {
  display: flex;
  width: 48%;
  align-items: center;
  /* margin-left: 5px; */
  justify-content: space-between;
  flex-direction: row-reverse;
}
.number_left {
  margin: 20px;
}
.section_title {
  margin-top: 20%;
  margin-left: 30px;
  font-size: 40px;
}
/*  */

.section_sub_title {
  /* width: 500px; */
  /* position: fixed; */
  margin-top: 40px;
  margin-left: 30px;
  margin-bottom: 10px;
}

.section_sub_title::before {
  background-color: red;
  box-sizing: border-box;
  display: block;
  width: 100px;
  height: 2px;
  content: "";
  position: absolute;
  left: 165px;
  margin-top: -15px;
  /* top: 50%; */
}

/* section tow */
.section_tow {
  /* margin-top: 5%; */
  box-sizing: border-box;
  display: flex;
  width: 100%;
  /* align-items: center; */
  justify-content: space-between;
  /* margin-left: 50px; */
  background-color: rgb(239, 239, 239);
}

.left_div_tow {
  width: 48%;
  align-items: center;
}

.right_div_tow {
  /* margin-top: 6%; */
  display: flex;
  width: 48%;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  text-align: justify;
}

.section_title_tow {
  margin-top: 20%;
  /* margin-left: 30px; */
  font-size: 40px;
}

.trapezoid {
  position: inherit;
  border-bottom: 100px solid transparent;
  border-top: 100px solid transparent;
  border-left: 700px solid rgb(225, 94, 47);
  height: 400px;
}

.number_four {
  color: rgb(192, 158, 158);
  position: absolute;
  left: 5%;
  display: flex;
  flex-direction: row;
  margin-top: -20px;
  align-items: baseline;
}

.parallelogram {
  margin-top: 5%;
  width: 466px;
  height: 40px;
  border-bottom: 215px solid transparent;
  border-top: 85px solid transparent;
  transform: skewY(337deg);
  /* background: rgb(9, 189, 212); */
  /* background: url("./assets/transport_-_23232\ \(720p\).mp4"); */
  border-left: 50px;
  position: absolute;
  top: 270%;
  right: 0%;
  /* border-bottom: 800px solid transparent;
  border-top-left-radius: 800px solid transparent;
  border-left: 600px solid #66b2ff;
  height: 200px; */
}

/* galari */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.section_four {
  width: 100%;
  display: flex;
  /* align-items: center; */
  flex-direction: row;
  /* justify-content: space-between; */
}

.left_div_four {
  width: 50%;
}

/* .right_div_four { */
/* width: 0%; */
/* position: absolute; */
/* right: 0%; */
/* } */

.title_color {
  color: white;
  position: relative;
  left: 0%;

  line-height: 35px;
}

.testymonial {
  display: flex;
  width: 100%;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 5%;
}

.left {
  width: 30%;
  margin: 20px 5%;
  text-align: right;
}

.test_lor {
  text-align: right;
}
.right {
  display: flex;
  flex-wrap: wrap;
}

.test_img {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin-left: 100px;
}

.footer {
  width: 100%;
  height: 100px;
}

.swip_image {
  width: 300px;
  border-radius: 15px;
  padding: 25px;
}
